body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1072px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2517 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u2518 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:95px;
  width:614px;
  height:1205px;
}
#u2518_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2519_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u2519 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:13px;
  width:50px;
  height:64px;
}
#u2519_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#CCCCCC;
}
#u2520 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:25px;
  width:161px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#CCCCCC;
}
#u2520_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u2521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2521 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:191px;
  width:546px;
  height:970px;
}
#u2521_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2522 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:84px;
}
#u2523 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:190px;
  width:550px;
  height:84px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2523_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:546px;
  word-wrap:break-word;
}
#u2524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2524 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:212px;
  width:32px;
  height:32px;
}
#u2524_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2525 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:300px;
  width:91px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2525_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u2526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u2526 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:296px;
  width:160px;
  height:40px;
  font-size:25px;
}
#u2526_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u2527_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:2px;
}
#u2527 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:338px;
  width:529px;
  height:1px;
}
#u2527_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2528 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:367px;
  width:87px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2528_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u2529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  text-align:right;
}
#u2529 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:366px;
  width:160px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  text-align:right;
}
#u2529_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u2530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:2px;
}
#u2530 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:408px;
  width:529px;
  height:1px;
}
#u2530_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2531 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:435px;
  width:256px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2531_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  word-wrap:break-word;
}
#u2532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2532 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:435px;
  width:256px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2532_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  word-wrap:break-word;
}
#u2533_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:534px;
  height:10px;
}
#u2533 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:478px;
  width:529px;
  height:5px;
}
#u2533_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2534 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:488px;
  width:87px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2534_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u2535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u2535 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:488px;
  width:157px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u2535_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u2536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:2px;
}
#u2536 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:538px;
  width:529px;
  height:1px;
}
#u2536_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2537_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#C9C9C9;
}
#u2537 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:555px;
  width:354px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#C9C9C9;
}
#u2537_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  word-wrap:break-word;
}
#u2538 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:620px;
  width:254px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#66CCFF;
}
#u2538_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u2538_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2539 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:660px;
  width:254px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#66CCFF;
}
#u2539_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u2539_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2540 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:700px;
  width:254px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#66CCFF;
}
#u2540_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u2540_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u2541 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:879px;
  width:366px;
  height:57px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u2541_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:362px;
  word-wrap:break-word;
}
#u2542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:57px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u2542 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:879px;
  width:366px;
  height:57px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u2542_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:362px;
  word-wrap:break-word;
}
